name: ci

on:
  push:
jobs:

  ci:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v5.0.0

    - name: login to dockerhub
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        file: 'Dockerfile'
        push: true
        tags: ahmedhesham301/nodejs-url-shortener-backend:latest
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@0.33.1
      with:
        image-ref: 'ahmedhesham301/nodejs-url-shortener-backend:latest'
        format: 'template'
        template: '@/contrib/sarif.tpl'
        output: 'trivy-results.sarif'
        severity: 'CRITICAL,HIGH'

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v4.31.3
      with:
        sarif_file: 'trivy-results.sarif'
